* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

:root {
  --nav-bg-color: black;
  --section-bg-color: #000050;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-image: url("./images/background_body.png");
  background-repeat: repeat;
  background-size: auto;
}

header {
  margin: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgb(0, 0, 200);
  color: white;
}

h1 {
  text-shadow: 0.1rem 0.1rem 0.2rem gray;
}

.hidden {
  visibility: hidden;
}

nav {
  background-color: var(--nav-bg-color);
  color: rgba(170, 170, 170);
  font-family: "Courier New", Courier, monospace;
  font-size: 0.8rem;
}

nav,
.about,
.computer,
.languages,
.projects {
  padding: 2rem;
  margin: 1rem;
  border-radius: 1rem;
}

a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2em;
}

a:hover {
  text-decoration: underline;
}

.external_links a {
  font-size: 1em;
  display: block;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

.about,
.computer,
.languages,
.projects {
  /* background-color: var(--section-bg-color); */
  background-image: linear-gradient(45deg, #000060, #0000c0);
}

.about_top,
.computer_top,
.languages_top,
.projects_top,
.section_code,
.section_footer {
  color: cornflowerblue;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
}

.section_content {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
  font-size: 1.2rem;
}

.about .section_content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.about_photo {
  width: 50%;
}

.about_text {
  width: 100%;
}

.about_photo img {
  object-fit: cover;
  width: 100%;
}

h2 {
  margin-bottom: 1rem;
}

h3 {
  margin-bottom: 0.75rem;
}

.projects .section_code {
  font-size: 0.75rem;
}

@media (min-width: 650px) {
  nav {
    font-size: 1rem;
  }
  .projects .section_code {
    font-size: 1rem;
  }
}

@media (min-width: 768px) {
  .about .section_content {
    flex-direction: row;
  }
  .about_photo {
    width: 30%;
  }
  .about_text {
    width: 70%;
  }
  nav {
    font-size: 1.2rem;
  }
}

.container {
  max-width: 80rem;
  margin: auto;
}

.proficiency {
  visibility: hidden;
  position: absolute;
}

@media (min-width: 550px) {
  .proficiency {
    visibility: visible;
    position: unset;
  }
}

/* Formatting fake source code depends on screen size */

.small {
  visibility: hidden;
  position: absolute;
}

.not_small {
  visibility: hidden;
  position: absolute;
}

@media (min-width: 500px) {
  /* not small */
  .small {
    visibility: hidden;
    position: absolute;
  }
  .not_small {
    visibility: visible;
    position: unset;
  }
}

@media (max-width: 500px) {
  /* small */
  .small {
    visibility: visible;
    position: unset;
  }
  .not_small {
    visibility: hidden;
    position: absolute;
  }
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid cornflowerblue;
  padding: 0.5rem;
  text-align: left;
}

.e-books {
  margin-top: 2rem;
}

.project_pictures {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.project_pictures div {
  background-image: url("./images/fredrums01.gif");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 100%;
  max-width: 640px;
  height: 25rem;
  max-height: 50vw;
  border: 1px dashed gray;
  animation-name: project_gallery;
  animation-duration: 25000ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(1, 0, 0.6, 0);
}

@keyframes project_gallery {
  0% {
    background-image: url("./images/fredrums01.gif");
  }
  20% {
    background-image: url("./images/fredrums02.gif");
  }
  40% {
    background-image: url("./images/dr01.png");
  }
  60% {
    background-image: url("./images/kalimbascore01.gif");
  }
  80% {
    background-image: url("./images/bal_01.gif");
  }
}
